# Folders
дискретка
информ технологии
контрольные
математика
эвм и периферийные устройства
docs
informatics
structure-and-algorimtics
programming

# Object files
*.o
*.obj

# Executables
*.exe
*.out

# Build directory
/build/
bin/
Release
Debug

# IDE files
.vscode/
.idea/
*.sln
*.user
.vs
*.vcxproj.user

# Temporary files
*.pdb
*.obj
*.idb
*.sdf
*.suo
*.ncb
*.log
*.tlog
*.dSYM
*.user
*.cache
*.tmp
*.ilk
*.exe
*.dll
*.lib
~*
