# Folders
docs

# Object files
*.o
*.obj

# Executables
*.exe
*.out

# Build directory
/build/
bin/
Release
Debug

# IDE files
.vscode/
.idea/
*.sln
*.user
.vs
*.vcxproj.user

# Temporary files
*.pdb
*.idb
*.sdf
*.suo
*.ncb
*.log
*.tlog
*.dSYM
*.cache
*.tmp
*.ilk
*.dll
*.lib
~*
~*.vcxproj
*.doc

CLAUDE.md
node_modules